<div class='center hero-unit'
	<h1>Brada Wheels</h1>
	<h2>Make a Statement</h2>
	<p>
		Forged Wheels at its finest.
		<%= link_to 'BRADA WHEELS', 'https://facebook.com/bradawheels' %> 
	</p>
	<p>
		<%= link_to 'Get more infomation now!', '#', class: 'btn btn-primary btn-large' %>
	</p>
</div>