<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="styles.css.scss" rel="stylesheet">
  </head>
<!-- NAVBAR 
================================================== -->
  <body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn2/1150414_560663247303172_1025201756_n.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>Make a Statement</p>
              <!-- <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash4/1000058_540804999288997_2106538888_n.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>Setting Industry Standards</p>
              <!-- <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-ash3/1005561_535820503120780_1186595114_n.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>Attention to Detail</p>
              <!-- p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Bochumer_Verein-08-50124.jpg/220px-Bochumer_Verein-08-50124.jpg">
          <h2>Forged</h2>
          <p>The wheels are made from forged aluminum spec'd to our standards. They start out as raw billet aluminum and they go through a lengthy and meticulous forging process to deliver you the highest forged quality wheel.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="span4">
          <img class="img-circle" img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/1239792_10153229320175284_899107764_n.jpg">
          <h2>Engineered to perfection</h2>
          <p>The devil is in the details.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="span4">
          <img class="img-circle" img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc1/p480x480/995448_555262951176535_1638531106_n.jpg">
          <h2>Highly Stylish</h2>
          <p>We can custom make any wheel to your preference, even if you want it to match to your Nikes.</p>
          <!-- <p><a class="btn btn-default" href="#">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-left" img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn2/971373_554479854588178_114066728_n.jpg">
        <h2 class="featurette-heading">BR10</h2>
        <p class="lead">Matte Black center with gloss black lip and inner with brushed and anodized black center caps. BR10's make an undying statement! Keep it luxurious!</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-right" img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/954746_538364529533044_1975423190_n.jpg">
        <h2 class="featurette-heading">BR5</h2>
        <p class="lead">Stuntin' is a habit, get like Brada.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-left" img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash3/946392_10153229417455284_395496875_n.jpg">
        <h2 class="featurette-heading">RS7</h2>
        <p class="lead">Holiday weekend new wheel release.... The Brada RS7!</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle pull-right" img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash3/563536_10153229410100284_1325922189_n.jpg">
        <h2 class="featurette-heading">RS5</h2>
        <p class="lead">The new and revised version of the RS5's. Even lighter now!</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/holder.js"></script>
  </body>
</html>