		<div class='footer'>
	 		<p class="pull-right"><a href="#">Back to top</a></p>
	 		<p>&copy; 2013 Brada, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	 		<small>Brada website created by <a href="https://stancetrader.com">Ray Dipasupil</a>. You can follow him on <a href="https://twitter.com/914rdd">Twitter</a>, <a href="https://facebook.com/914rdd">Facebook</a>, and <a href="http://linkedin.com/in/raydipasupil/">LinkedIn</a></small>
	 </div>

